<h2 align="center">Introduction to Cola Projects Website</h2>

<h3 align="center">功能一: 計算轉換率</h3>
<p align="center">網頁轉換率為計算同業網站是否為有效通路之功能，</p>
<p align="center">點擊轉換率為"所有下單動作的點擊次數"除以"所有在網站內動作的點擊次數"，</p>
<p align="center">使用者可以調整目標轉換率，以衡量同業網站對於同業是否為有效</p>
<div align="center"><button type="button" class="btn btn-defalut btn-lg"><%= link_to "Go", transaction_path%></button></div>

<h3 align="center">功能二: 強力推銷潛力清單</h3>
<li align="center">篩選出近一個月購買產品的同業</li>
<li align="center">計算其一個月內的購買次數，並以此排序之</li>
<li align="center">清單顯示前10名同業</li><br>
<div align="center"><button type="button" class="btn btn-defalut btn-lg"><%= link_to "Go", sales_path%></button></div>

<h3 align="center">功能三: 網頁愛用者清單</h3>
<p align="center">搜尋在所有時間內各個同業的總購買量</p>
<p align="center">*總購買量: 在同業網站上點下“報名－確認下單”的人</p>
<p align="center">以此排序出前20名愛用同業網站的同業</p>
<div align="center"><button type="button" class="btn btn-defalut btn-lg"><%= link_to "Go", love_path%></button></div>
