<h2 align="center">功能一:計算轉換率</h2>

<table class="table">
<tr>
<td><h4>下單點擊次數</h4></td>
<td><%= @buy %></td>
</tr>
<tr>
<td><h4>所有點擊次數</h4></td>
<td><%= @all%></td>
</tr>
<tr>
<td><h4>轉換率</h4></td>
<td><%= @trans%></td>
</tr>

</table>
